<div class="buttons-wrapper">
    <a href="/" class="logo">hastebin</a>
    <div class="buttons">
        <button type="submit" class="btn">
            <i class="far fa-save"></i>
        </button>
        <a href="/new" class="btn">
            <i class="far fa-file"></i>
        </a>
    </div>
</div>